<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8fdd99">  <td>21/08/17 18:24:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverClass.closeBrowser()[pri:0, instance:testclass.Test@667a738]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="8fdd99">  <td>21/08/17 18:24:48</td>   <td>16422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverClass.closeBrowser()[pri:0, instance:testclass.Test@667a738]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="8fdd99">  <td>21/08/17 18:23:54</td>   <td>-37560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverClass.driverLaunch()[pri:0, instance:testclass.Test@667a738]">&gt;&gt;driverLaunch</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="8fdd99">  <td>21/08/17 18:24:32</td>   <td>779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverClass.driverLaunch()[pri:0, instance:testclass.Test@667a738]">&gt;&gt;driverLaunch</td> 
<td>&nbsp;</td>  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/08/17 18:23:57</td>   <td>-33928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.test1()[pri:0, instance:testclass.Test@667a738]">test1</td> 
  <td>main@589835301</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/08/17 18:24:36</td>   <td>4444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.test2()[pri:0, instance:testclass.Test@667a738]">test2</td> 
  <td>main@589835301</td>   <td></td> </tr>
</table>
